<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Portal</title>
    <style>
      body {
        background-color: #f2f2f2; /* Gray background */
        font-family: Arial, sans-serif;
      }
      .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
      }
      .card {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
      }
      .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: transparent;
        border: 2px solid #333; /* Border */
        border-radius: 4px;
        text-decoration: none;
        color: #333;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
      }
      .btn:hover {
        background-color: #333; /* Hover background color */
        color: #fff; /* Hover text color */
        border-color: #333; /* Hover border color */
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to our Job Portal</h1>
      <div class="card">
        <h2>Find Your Dream Job</h2>
        <p>Explore thousands of job listings.</p>
      </div>
      <div class="card">
        <h2>Post a Job</h2>
        <p>Hire the best talent for your company.</p>
      </div>
      <div class="card">
        <h2>Learn New Skills</h2>
        <p>Access online courses and improve your skills.</p>
      </div>
      <div>
        <a href="{% url 'login' %}" class="btn">Login</a>
        <a href="{% url 'register' %}" class="btn">Register</a>
      </div>
    </div>
  </body>
</html>
